{% extends 'base.html.twig' %}

{% block title %}Vaccine{% endblock %}

{% block body %}
    <h1>Vaccine</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vaccine.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ vaccine.name }}</td>
            </tr>
            <tr>
                <th>BatchNumber</th>
                <td>{{ vaccine.batchNumber }}</td>
            </tr>
            <tr>
                <th>Report</th>
                <td>{{ vaccine.report }}</td>
            </tr>
            <tr>
                <th>NextShotDate</th>
                <td>{{ vaccine.nextShotDate ? vaccine.nextShotDate|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_vaccine_index') }}">back to list</a>

    <a href="{{ path('app_vaccine_edit', {'id': vaccine.id}) }}">edit</a>

    {{ include('vaccine/_delete_form.html.twig') }}
{% endblock %}
